
.filters{
    display: flex;
    white-space: nowrap;
    margin-bottom:1em;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
}

.desc{
    
    word-wrap: break-word;
    overflow-x:hidden;
    word-break:break-all;
}
.descDiv{
    display: block;
    max-height: 10em;
}
.table2 {
    max-height: calc(100vh - 17.5em);
    overflow: auto;
    display: block;
    border-radius: 1rem;
    box-shadow: 0 0 3rem -1.5rem #959ca7;
    }
    
.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #c3d0f5;
}

.idField {
    margin-left:0.5em;
} 
.approval{
    text-align: center;
}
.approvalBtn{
    width: 2.7em;
    height: 2.7em;
    background: #ffffff !important;
    text-align: center;
}
.btnConf{
    border-radius: 0 1em 1em 0;
}
.btnRej{
    border-radius: 1em 0 0 1em;
}
.filter{
    position: relative;
    flex: 1 1 15rem;
    display: flex;
}
.dropdown-toggle{
    width: 100%;
}