.descr {
    display: block;
    width: 50em;
    
    word-wrap: break-word;
    overflow-x:hidden;
    
}
.fields{
    height: 4em;
}
.form{
    margin-left: 1em;
}
.field {
    display: block;
    margin-bottom: 1em;
    margin-left: 1em;
}
.table {
    margin-top:0.5em;
}

.error {
    color: red;
}